@import "tailwindcss";
@plugin "daisyui";

@layer base {
    @font-face {
        font-family: iransans;
        font-style: normal;
        src: url('@/fonts/iransans/eot/IRANSansFaNum_Medium.eot');
        src: url('@/fonts/iransans/eot/IRANSansFaNum_Medium.eot?#iefix') format('embedded-opentype'),
        url('@/fonts/iransans/woff2/IRANSansWebFaNum_Medium.woff2') format('woff2'),
        url('@/fonts/iransans/woff/IRANSansWebFaNum_Medium.woff') format('woff'),
        url('@/fonts/iransans/ttf/IRANSansWebFaNum_Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: BYekan;
        src: url('@/fonts/BYekan/BYekan+.ttf'),
        url('@/fonts/BYekan/BYekan+ Bold.ttf');
    }

    @font-face {
        font-family: WebYekan;
        src: url('@/fonts/WebYekan/WebYekan.eot'),
        url('@/fonts/WebYekan/WebYekan.ttf'),
        url('@/fonts/WebYekan/WebYekan.eot');
    }

    body {
        font-family: iransans;
        direction: rtl;
        @apply min-h-screen flex flex-col;
    }
}
html,
body {
    position: relative;
    height: 100%;
}

ul, li {
    @apply list-none border-0;
}
.menu :where(li ul)::before {
    content: none !important;
}
.mobile-menu{
    @apply fixed rounded-tl-3xl rounded-bl-3xl h-screen w-80 bg-base-100 top-0 right-0  shadow-xl overflow-x-hidden  z-50
     transition-transform duration-300 ease-in-out

}
.container-4xl-w {
    width: 100%;
    max-width: 1676px;
}


/* #region header*/
.header{
    @apply  w-full h-40 flex flex-col justify-center items-center text-2xl;
}
.top-nav{
    @apply w-full  block h-[30px] lg:h-[50px] bg-[rgba(0,0,0,0.04)] !top-0
}
.navbar{
    @apply transition-all duration-500 ease-in-out min-h-8 pr-1 p-0;
}
.navbar.scroll {
    @apply fixed top-0 left-0 w-full shadow-lg;
}
.navbar.hide {
    @apply -translate-y-full;
}
.top-nav img{
    @apply w-full h-full
}
.navbar-start{
    @apply w-fit
}
.menu-mobile .menu :where(li ul)::before {
    content: none !important;
}
.menu-mobile .menu {
    height: 100vh;
    overflow-y: auto;
}

.menu-mobile .dropdown-content {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.menu-mobile .dropdown-open .dropdown-content,
.menu-mobile .dropdown:focus-within .dropdown-content {
    transform: translateX(0);
}

.menu-mobile .menu :where(li ul)::before {
    content: none !important;
}

.menu-mobile details > ul {
    position: static !important;
    width: 100%;
    overflow: visible;
    max-height: none;
}

/* #endregion */

/* #region Global Scroll */

::-webkit-scrollbar {
    width: .375rem;
    height: .375rem;
}

::-webkit-scrollbar-track {
    border-radius: .75rem;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: .75rem;
    background-color: #ef4444; /* قرمز */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ef4444; /* قرمز تیره‌تر */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ef4444 #ffffff;
}

/* #endregion */
/* #region Slider */
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}
swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
    text-align: center;
}

swiper-slide .subtitle {
    font-size: 21px;
    text-align: center;
}

swiper-slide .text {
    font-size: 14px;
    line-height: 1.3;
    text-align: justify;
}
swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #endregion */