@import "tailwindcss";
@plugin "daisyui";

@layer base {
    @font-face {
        font-family: iransans;
        font-style: normal;
        src: url('@/fonts/iransans/eot/IRANSansFaNum_Medium.eot');
        src: url('@/fonts/iransans/eot/IRANSansFaNum_Medium.eot?#iefix') format('embedded-opentype'),
        url('@/fonts/iransans/woff2/IRANSansWebFaNum_Medium.woff2') format('woff2'),
        url('@/fonts/iransans/woff/IRANSansWebFaNum_Medium.woff') format('woff'),
        url('@/fonts/iransans/ttf/IRANSansWebFaNum_Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: BYekan;
        src: url('@/fonts/BYekan/BYekan+.ttf'),
        url('@/fonts/BYekan/BYekan+ Bold.ttf');
    }

    @font-face {
        font-family: WebYekan;
        src: url('@/fonts/WebYekan/WebYekan.eot'),
        url('@/fonts/WebYekan/WebYekan.ttf'),
        url('@/fonts/WebYekan/WebYekan.eot');
    }

    body {
        font-family: iransans;
        direction: rtl;
        @apply min-h-screen flex flex-col;
    }
}
html, body {
    @apply relative h-full;
}
ul, li {
    @apply list-none border-0;
}
.menu :where(li ul)::before {
    content: none !important;
}
.mobile-menu{
    @apply fixed rounded-tl-3xl rounded-bl-3xl h-screen w-80 bg-base-100 top-0 right-0  shadow-xl overflow-x-hidden  z-50
     transition-transform duration-300 ease-in-out
}
.container-4xl-w {
    @apply w-full max-w-[1676px];
}
/* #region header*/
.header{
    @apply  w-full h-40 flex flex-col justify-center items-center text-2xl;
}
.header-icon{
    @apply w-5 h-5 md:w-7 md:h-7
}
.top-nav{
    @apply w-full  block h-[20px] md:h-[30px] lg:h-[50px] bg-[rgba(0,0,0,0.04)] !top-0
}
.navbar{
    @apply transition-all duration-500 ease-in-out min-h-8 pr-1 p-0;
}
.navbar.scroll {
    @apply fixed top-0 left-0 w-full shadow-lg;
}

.hide-section {
    @apply max-h-0 opacity-0 pt-0 pb-0 overflow-hidden;
}

.section-collapse {
    @apply max-h-0 opacity-0 overflow-hidden py-0;
}

.navbar-scrolled {
    @apply shadow-lg;
}
.top-nav img{
    @apply w-full h-full
}
.navbar-start{
    @apply w-fit
}
.menu-mobile .menu :where(li ul)::before {
    content: none !important;
}
.menu-mobile .menu {
    @apply  h-[100vh];
}
.menu-mobile .dropdown-content {
    @apply translate-x-full transition-transform duration-300 ease-in-out;
}

.menu-mobile .dropdown-open .dropdown-content,
.menu-mobile .dropdown:focus-within .dropdown-content {
    @apply translate-x-0;
}
.menu-mobile .menu :where(li ul)::before {
    content: none;
}
.menu-mobile details > ul {
    @apply static w-full overflow-visible max-h-none;
}

/* #endregion */

/* #region Global Scroll */

::-webkit-scrollbar {@apply w-[.375rem] h-[.375rem]}

::-webkit-scrollbar-track { @apply rounded-lg bg-white}

::-webkit-scrollbar-thumb { @apply rounded-lg bg-[#ef4444]}

::-webkit-scrollbar-thumb:hover {@apply  bg-[#ef4444]}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ef4444 #ffffff;
}
.loading{
    @apply fixed inset-0 bg-white/90 backdrop-blur-sm flex flex-col items-center justify-center z-50 hidden transition-opacity duration-700;
}
/* #endregion */
/* #region Slider */
swiper-container {
    @apply w-full h-full;
}
swiper-slide {
    @apply flex justify-center items-center text-center text-[18px] bg-gray-800;
}
swiper-slide .title {
    @apply text-[14px] md:text-[20px] font-light text-center border-b border-white;
}
swiper-slide .text {
    @apply text-[12px] md:text-[14px] leading-8 p-[5px] text-justify;
}
swiper-slide img {
    @apply block w-full h-full;
}
.mySwiper::part(pagination) {
    @apply bottom-4 flex justify-center space-x-2;
}

.mySwiper::part(bullet) {
    @apply w-3 h-3 bg-gray-300 rounded-full transition-all duration-300;
}

.mySwiper::part(bullet-active) {
    @apply bg-white scale-125 w-3 h-3;
}
/* #endregion */
/* #region Search */

/* #endregion */